.header {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
}

#header__home-link {
    text-decoration: none;
}

.header__title-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__icon {
    color: #676776 ;
    transform: scale(1.5); 
}

.header h1 {
    color: #676776 ;
    padding-top: 10px;
}

#header__bars-icon {
    width: 35px;
    height: 35px;
    color: #192024;
}

.header__navigation-container {
    min-width: 25%;
}

.header__navigation-links {
	list-style:none;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;

}

.header__navigation-links  li {
    flex: 1;
}

.header__navigation-links  li:hover {
    color: #2e9dff;
}

.header__navigation-links a {
    text-align: center;
    color: #676770;
    display: block;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;   
}

.header__navigation-btn {
    display: none;
}

@media screen and (max-width: 540px){
    .header__navigation-links {
        flex-direction: column;
    }

    .header__navigation-links--hide {
        display: none;
    }

    .header__navigation-btn {
        display: block;
        background: none;
        border: none;
        margin: 0 auto;
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .header h1 {
        font-size: 4em;
        line-height: 0.5;
    }
    
    .header__icon {
        transform: scale(3); 
    }

    .header__title-container {
        gap: 25px;
    }
}