.contact {
  width: 940px;
  margin: 0 auto;
  text-align: center;

  &__header {
    color: #676770;
    font-size: 1.875rem;
    letter-spacing: 5px;
    font-weight: 300;
  }

  &__body {
    color: #8e8e9c;
    font-size: 1.125rem;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 0;
  }

  &__fieldset {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  &__fieldset > label {
    margin: 10px 0;
    font-size: 0.875rem;
    line-height: 25px;
    font-weight: 300;
  }

  &__fieldset-submit {
    font-weight: 300;
    margin-top: 20px;
    background-color: #69b9ff;
    color: white;
    padding: 12px 30px;
    border: none;
  }

  &__fieldset-submit:hover {
    cursor: pointer;
    background-color: #69c3ff;
  }

  &__fieldset-submit:active {
    opacity: 0.5;
  }

  &__control {
    padding: 10px;
    border: 1px solid black;
  }

  &__fieldset-spinner-container {
    width: 85px;
    margin: 20px auto 0;
    text-align: center;
  }

  &__fieldset-verification-flex-wrapper {
    margin: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__fieldset-verification-icon-container {
    margin: auto 0;
  }

  &__fieldset-icon--check {
    height: 40px;
    width: 40px;
    color: green;
  }

  &__fieldset-icon--failed {
    height: 40px;
    width: 40px;
    color: red;
  }

  &__fieldset-verification-desc {
    text-align: center;
    margin-top: 15px;
  }
}

.spinner-border {
  height: 50px;
  width: 50px;
  color: #69b9ff !important;
}

@media screen and (max-width: 1000px) {
  .contact {
    width: 100%;
    padding: 15px 15px 60px 15px;
  }
}
