@import "../../assets/styles/varibles.scss";
@import "../../assets/styles/util.scss";

.section {
  text-align: center;
  padding: 80px 0;

  &--light {
    background-color: $color-white-1;
  }

  &__header {
    margin-bottom: 5%;
  }

  &--dark {
    background-color: $color-blue-7;
    color: $color-white-1;
  }

  &__header--light {
    font-size: $font-size-lg-rem !important;
    color: $color-grey-3;
  }

  &__header--dark {
    color: $color-white-1;
  }

  &__body {
    color: $color-grey-2;
    font-size: $font-size-md-rem;
    width: 50%;
    margin: 0 auto 60px auto;
  }

  &__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@include mobile(540px) {
  .section {
    padding: 0;

    &--light {
      padding-top: 30px;
    }

    &--dark {
      padding-top: 30px;
    }

    &__body {
      width: 100%;
    }
  }
}
