// colors hue 1
$color-grey-1: #d5d5e0;
$color-cyan-1: #69c3ff;
$color-white-1: #fafafa;
$color-black-1: #000;
// colors hue 2
$color-grey-2: #8e8e9c;
// colors hue 3
$color-grey-3: #676770;
$color-grey-4: #676776;
// colors hue 4
$color-cyan-5: #2e9dff;
// colors hue 5
$color-cyan-6: #69b9ff;
$color-cyan-6: #2e9dff;
$color-blue-6: #282c34;
// colors hue 6
$color-cyan-7: #61dafb;
$color-cyan-7: #668cad;
$color-blue-7: #192024;

// font sizes rem
$font-size-xs-rem: 0.875rem;
$font-size-sm-rem: 1rem;
$font-size-md-rem: 1.125rem;
$font-size-lg-rem: 1.875rem;
$font-size-xlg-rem: 2.5rem;
$font-size-xxlg-rem: 4rem;
$font-size-xxxlg-rem: 50rem;

// font size em
$font-size-md-em: 3em;
$font-size-lg-em: 4em;
